* {
  margin: 0;
  padding: 0;
}
body {
  font: 15px/1.5 'Open Sans', sans-serif;
}
body,
a {
  color: #282828;
}
.wrapper {
  margin: 0 auto;
  max-width: 480px;
  padding: 10px;
}
header {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}
header h1 {
  font: bold 45px/1.5 'Open Sans', sans-serif;
}
header h2 {
  font: normal 30px/1.5 'Open Sans', sans-serif;

}
header img {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.status {
  border-spacing: 0;
  margin: 0 auto 30px;
  text-align: center;
  width: 100%;
}
.status th:not(:last-child),
.status td:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}
.status th {
  color: #ddd;
  font-weight: normal;
}
.status td {
  font-size: 19px;
}
h3, p {
  padding-bottom: 1em;
}
h3 {
  font-size: 19px;
  padding-top: 1em;
}
code {
  background: #fff;
  border: 1px solid #d8d8d8;
  display: block;
  font-size: 11px;
  margin-bottom: 2em;
  padding: 1em;
}
code.request:hover {
  cursor: pointer;
}
code.request a:hover {
  text-decoration: underline;
}
code.request:before {
  color: #006ce1;
  content: 'GET ';
}
code.js {
  white-space: pre;
  white-space-collapse: discard;
}
code.js:hover {
  cursor: pointer;
}
ol {
  padding-top: 10px;
  padding-left: 24px;
  border-top: 1px solid #aaa;
  font-size: 12px;
}
footer {
  margin: 2em 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #carbonads {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #carbonads {
    background-color: #f0f0f0;
    position: absolute;
    right: 24px;
    top: 36px;
    width: 150px;
  }
  .carbon-img,
  .carbon-poweredby,
  .carbon-text {
    display: block;
    margin: 10px;
  }
  .carbon-text,
  .carbon-poweredby {
    line-height: 1.3;
    text-decoration: none;
  }
  .carbon-text {
    font-size: 13px;
  }
  .carbon-poweredby {
    font-size: 11px;
    color: #999;
  }
}
